/* Put your reset here. */ 


/* Example:

hr {
  border: 0;
  color: inherit;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

hr.dingbat {
  border: 0;
  text-align: center;
  height: calc(1 * 1.5 * 4 * var(--fs)); 
  margin: 0 auto;
  box-shadow: none;
}

hr.dingbat::after {
  content: "";
}

hr.dingbat::before {
  content: "☃";
  font-size: calc(1 * 4 * var(--fs));
  color: var(--white);
  line-height: calc(1.5 * 4 * var(--fs));
}

*/