@charset "UTF-8";   /* Always set Charset. Recommended reading: https://www.w3.org/International/questions/qa-css-charset.en */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap&text="RedGosithub"'); /* Use font-subsetting wherever it is possible */

:root {
	/* Do not remove or alter the following two lines.           */
	/* Recommended reading: https://bubblin.io/blog/a-css-router */
	--portrait-axis: /toucaan/router/portrait.css;
	--landscape-axis: /toucaan/router/landscape.css;
}

/* Portrait ⇋ landscape switch. */
@import url(var(--portrait-axis)) screen and (orientation: portrait);
@import url(var(--landscape-axis)) screen and (orientation: landscape);

/* --vmin stands for base unit of intrinsic blockscoped typography. */
@media only screen and (orientation: portrait) {
	:root {
		--vmin: calc(100vw/100);
		/* Fallback if vmin is not supported. */
	}
}

@media only screen and (orientation: landscape) {
	:root {
		--vmin: calc(100vh/100);
		/* Fallback if vmin is not supported. */
	}
}

/* Global variables below */
:root {
	--vmin: 1vmin;

	/* Font families. */
	--sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--system: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif !important;
	--monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--serif: -apple-system-ui-serif, ui-serif, "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif;
	
	/* Set your custom font unto a variable over here, like so: */
	--eina-one: 'Eina01 Regular', sans-serif; /* Example off Red Goose */

	/****** THE FULL COLOR PALETTE *******/
	--white: rgba(255, 255, 255, 1);
	--black: rgba(0, 0, 0, 0);	
	
	/* Implement color palette for your brand. { Check → /accessibility/_darkmode.scss as well. }. */
	/* Recommended reading → Building Your Color Palette by Adam Wathan. https://www.refactoringui.com/previews/building-your-color-palette 	

	--lightmode-primary-text-color: 
	--lightmode-primary-headings-color: 
	--lightmode-primary-background-color: 
	
	/* Set anchor color 
	--lightmode-primary-anchor-color: rgba(25, 95, 255, 0.99);
	--lightmode-primary-anchor-highlighted-color: rgba(50, 140, 255, 0.99);

	
	/* What this is → TODO: doc link here*/ /*
	--lightmode-text-selection-color: 
	--lightmode-background-selection-color: 

	/* What this is → TODO: doc link here*/ /*
	--lightmode-background-selection-window-inactive-color:
	--lightmode-text-selection-window-inactive-color:

	/* What this is → TODO: doc link here*/ /*
	--lightest-grey:
	--lighter-grey: 
	--light-grey: 
	--grey: 
	--dark-grey:
	--darker-grey:
	--darkest-grey: 
	
	and so on…*/
	
}