// Notch handling isn't required on desktops. Uncomment only if necessary */
/* @import '../../accessibility/notch';  */

@media (min-aspect-ratio: 2 / 1) { /* Length : Breadth ratio > 2 */
  :root {
    --edge: 100vmin; /* Always pick the shorter side for better control on scalability. */
    --basis: calc(--var(edge) / 100) 
    --fs: calc(1 * var(--basis));
  }
}

@media (max-aspect-ratio: 2 / 1) { /* Length : Breadth ratio < 2 */
  :root {
    --edge: 50vmax;
    --basis: calc(--var(edge) / 100)  
    --fs: calc(1 * var(--basis));
  }
}

/**** Uncomment the following codeblock if your app     */
/**** provides custom functionality in fullscreen mode: */

// @media all and (display-mode: fullscreen) {
//   :root {
//          /* Display controls to exit fullscreen mode, for example. */
//          /* See documentation for more examples. */
//   }
// }

:root {
  /* Width utilities in landscape: */
  --lean: calc(100 * var(--vmin)); /* 100vmin i.e Full portrait width or full landscape height. */
  --safe: calc(100 * var(--fs) + (100vmax - 100 * var(--fs)) / 2); /* 100vmin plus half of the remaining space on either sides. */
  --full: 100%; /* Useful for full bleed headers and banners. */
  --half: 50%;
  --one-third: calc(1 / 3 * 100%);
  --two-third: calc(2 / 3 * 100%);
  
  --base-font-size-for-desktop: calc(4 * var(--fs)); 
  --base-font-size: var(--base-font-size-for-desktop); /* This variable is declared for each device category separately. 
}

/* Custom typesetting at the earliest opportunity. */
@import '../../typography/typefaces';

@import '../../typography/typography';

@import '../../typography/typeset';

@import '../../env/helpers/universal';

/* Set up a baseline environment. */
@import '../../env/tags/baseline/html';

@import '../../env/tags/baseline/body';

@import '../../env/tags/baseline/anchor';

/* Add more tags to your environment depending on your app's needs: */
@import '../../env/tags/div';

@import '../../env/tags/hr';

// @import '../../env/tags/blockquote';

// @import '../../env/tags/table'; etc.

/* Universal helpers & utilities. */

@import '../../env/helpers/pseudos';

@import '../../env/helpers/group';

@import '../../env/helpers/utilities';

/**********************************************************/
/***** App-Specific or User-Written Styles go below. ******/
/**********************************************************/


/* Break you application style into components:

  Examples:
    @import '../../palette/colors';

    @import './components/header';

    @import './components/main';

    @import './components/footer';

    @import './components/hero';

    @import './forms/login';

/**********************************************************/
