/*	Always set a background color on the top `html` element. 
	Some pre-installed browsers, like the one on an LG OLED C8 TV or higher, 
	defaults to a black background which may not work for your content without a plan.  
*/

html {
	background-color: var(--lightmode-primary-background-color);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	overflow-x: hidden; /* Uncomment if "horizontal panning" is needed in mobile app view. Usually, further control using JavaScript might be required. */
	overflow-y: scroll;
	text-size-adjust: 100%;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
