/* Example taken from the Red Goose website. */
@font-face {
  font-family: 'Eina01 Regular';
  src: font_url('Eina01-Regular.eot');
  /* IE9 Compat Modes */
  src: font_url('Eina01-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    font_url('Eina01-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    font_url('Eina01-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mark Pro Heavy';
  src: font_url('Mark-Pro-Heavy.eot');
  /* IE9 Compat Modes */
  src: font_url('Mark-Pro-Heavy.woff2') format('woff2'),
    /* Super Modern Browsers */
    font_url('Mark-Pro-Heavy.woff') format('woff'),
    /* Pretty Modern Browsers */
    font_url('Mark-Pro-Heavy.ttf') format('truetype');
}


