/* Some random utility classes. DO NOT USE! */
/* To be deleted in the next release. */

.unpointable {
	pointer-events: none;
}

.pointable {
	pointer-events: auto;
}

.blur {
	backdrop-filter: blur(calc(5 * var(--fs)));
}

/* See utility variable definitions of --lean, --safe, --one-half etc. inside the :root declaration of /app/mobile.scss /app/desktop.scss and so on… */
.lean {
	width: var(--lean);
}

.safe {
	width: var(--safe);
}

.one-half {
	width: var(--one-half);
}

.one-third {
	width: var(--one-third);
}

.two-third {
	width: var(--two-third);
}

.maxzee {
	z-index: 2147483647 !important; /* 32bit max value of z-index. */
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.will-change {
	will-change: transform;
	transform: translate3d(0, 0, 0);
}

