/* 1. Dark mode (or light) depending on requirement. */
	
@media screen and (prefers-color-scheme: dark) {
  :root {
  /* The inverted color palette comes here. */
  	/****** THE COLOR PALETTE *******/
	--primary-text-color: rgba(160, 174, 251, 0.99);
	--primary-headings-color: rgba(160, 174, 251, 0.99);;
	
	/* Set anchor color */
	--primary-anchor-color: rgba(25, 95, 255, 0.99);
	--primary-anchor-highlighted-color: rgba(50, 140, 255, 0.99);


	--white: rgba(255, 255, 255, 1);
	--black: rgba(0, 0, 0, 0);	
  
  /* Implement the color palette for your brand in darkmode here:
	--lightest-grey:
	--lighter-grey: 
	--light-grey: 
	--grey: 
	--dark-grey:
	--darker-grey:
	--darkest-grey: 
	
	and so on…*/
 }
}